.activity-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-top: 1px dashed $speer-grey;

  &__content {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 15px 10px;
    margin: 10px 0 15px;;
    &:hover {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease, box-shadow 0.3s ease;
      border-radius: 7px;
      background-color: rgba($speer-grey, .20);
    }
  }

  &__image {
    width: 30px;
    height: 30px;
    background-color: $speer-grey;
    border-radius: 100%;
    padding: 5px 3px 0;
    overflow: hidden;
    margin-right: 5px;

    img {
      width: 100%;
      height: 100%;
      margin-top: 2px;
      object-fit: cover;
      color: white;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    &-heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

    }
  }

  &__header {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    line-height: 1.2;
  }

  &__meta {
    margin-bottom: 0;
    color: $speer-opac-black;
    img {
      width: 10px;
      height: 10px;
      margin-right: 3px;
    }
  }

  &__actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 7px;
  }

  &__date {
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
    &-text {
      margin: 0;
      color: $speer-opac-black;
      width: fit-content;
      margin: 0 auto;
      background-color: $speer-white;
      padding: 0px 3px;
    }
  }

  &__separator {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__dot {
    width: 4px;
    height: 4px;
    background-color: $speer-grey;
    border-radius: 100%;
  }
}
