// Activity Detail page
.activity-details {
  padding: 40px 0;
  background-color:$speer-lightgrey;
  height: 100%;

  .container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    p {
      margin: 8px 0;
      font-size: 14px;
    }

    h2 {
      margin-bottom: 10px;
      font-weight: bold;
    }
    
    .details-card {
      padding: 20px;
      background-color: $speer-white;
      border-radius: 7px;
      ul {
        margin-top: 10px;
        padding: 0;
        li {
          list-style: none;
          margin-bottom: 5px;
        }
      }
    }
  }
}
