.tab-navigation {
    display: flex;
    justify-content: space-between; /* Adjusted to space out links properly */
    margin: 20px 0;
  
    .tab-link {
      text-decoration: none;
      color: $speer-black;
      font-weight: normal;
      font-size: 13px;
      padding: 5px 10px;
      transition: color 0.3s, border-bottom 0.3s;
      white-space: nowrap;
      max-width: 100%;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 50px;
      display: flex;
      justify-content: left;
      align-items: end;
      border-radius: 10px;
      &.activity-feed {
        background-color: $speer-pink;
      }
      &.archived-calls {
        background-color: $speer-purple;
      }
      &:hover {
        color: #45a049;
        border-bottom: 2px solid #45a049;
      }
    }
  }
  