// Colours
$speer-white: #ffffff;
$speer-pink: rgba(251,239,255,255);
$speer-purple: rgba(244,239,255,255);
$speer-lightblue: #f4f7fc;
$speer-opac-black: rgba(#000000, 60%);
$speer-green: rgb(42, 196, 32);
$speer-orange: #FF8000;
$speer-lightgrey: #EFEFEF;
$speer-grey: #D9D9D9;
$speer-dark-grey: #636363;
$speer-black: #000;